* {
    background: transparent;
    margin:0;
    color:white;
    font-family:"Inconsolata", monospace;
    font-weight: 400;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:70px;
  flex-direction: column;
  background-color: black;
}

.cursor{
  position:absolute;
  width:20px;
  height: 20px;
  border-radius: 50%;
  z-index: 50;
  border: 2px solid white;
  transition: 0.2s all ease;
  pointer-events: none;
  box-sizing: border-box;
}
nav {
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    background: black;
    font-size: 1.6em;
}

header, #section-about,#section-projects,footer {
  max-width: 1440px;
  margin:0 auto;
  width: 100vw;
}

.nav-logo {
    z-index: 50;
    font-size: 40px;
    font-weight: 600;
    flex-grow: 1;
    margin-left: 4vw;
    justify-content: end;
}
.nav-logo:hover{
  transform: translate(10px,10px);
  transition: all ease-in-out 0.3s;
}
.nav-middle {
  z-index: inherit;
    color: #999393;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.nav-middle a:hover{
  color:#6f03fc;
  text-decoration: underline;
  text-underline-offset: 20px;
  animation: moveup 3s infinite linear;
}

.nav-socials {
  background: -webkit-linear-gradient(#fff, #444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-grow: 1;
  margin-right: 4vw;
  justify-content: flex-end;
  gap: 10px;
  color:#6f03fc;
}

.nav-socials a:hover{
  z-index: inherit;
  color:#6f03fc;
  animation: rotatefull 3s infinite linear;
}
span.name-span{
  font-size: 60px;
}
@keyframes moveup {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes rotatefull {
    0%{
        transform: rotateZ(0px);
    }
    25%{
        transform: rotateZ(30px);
    }
    50%{
        transform: rotateZ(0px);
    }
    75%{
      transform: rotateZ(-30px);
    }
    100%{
      transform: rotateZ(0px);
    }
}


.nav-hamburger {
  z-index: inherit;
  display: none;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-left: 4vw;
}
.nav-hamburger-list{
  z-index: 50;
  position:absolute;
  right:10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  border-radius: 30px;
  background: linear-gradient(135deg,rgba(6,12,33,0.7),rgba(6,12,33,1));
  backdrop-filter: 10px;
  display: none;
  width:100%;
}
.nav-hamburger-list > a{
  padding:20px 20px 20px 20px;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding:5px;
  font-size: 2em;
  display: none;
}

#main {
    display: flex;
    flex: 1 1 300px;
    gap:0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    background-color: transparent;
}

@media screen and (max-width:800px){
    #main{
        font-size: 4vh;
    }
}
.animations{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.astronaut{
  width:150px;
  height:150px;
}
.main-text{
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font:0.7em;
  gap:10px;
}

.main-text > h1{
    background: transparent;
}
.greetings{
  display: flex;
  gap:3vw;
  width:100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typing-demo {
  width: 6ch;
  color:#6f03fc;
  animation: typing 3s steps(6), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.2em;
  box-sizing: border-box;
  text-align: start;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3vw;
  background: transparent;
  z-index: 50;
}

.btn-cv {
  z-index: 50;
  border: 2px solid #6f03fc; /* Added border property */
  color: #6f03fc;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.8em;
}

.btn-cv:hover {
  transform: translateY(-10px);
  transition: all ease-in-out 0.7s;
}

.btn-contact {
  z-index: 50;
  color: white;
  background: rgba(21,27,38,0.85);
  padding: 10px;
  border-radius: 20px;
  font-size: 0.8em;
}

.btn-contact:hover {
  background: rgba(28,29,48,0.8);
  transform: translateY(-10px);  
  transition: all ease-in-out 0.7s;
} 

.backgrounds{
  position: absolute;
  width:100px;
  height:100px;
  left: 100px;
  top: 100px;
  transform: rotateZ(30deg);
  z-index: 0;
}
@keyframes move{
  0%{
    transform: rotateZ(0deg),translateX(0px);
  }
  25%{
    transform: rotateZ(180deg),translateX(90px);
  }
  50%{
    transform: rotateZ(360deg),translateX(200px);
  }
  75%{
    transform: rotateZ(270deg),translateX(0px);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

/*  SECTION PROJECT */
#section-projects{
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 50;
  gap:20px;
}


.card-container{
  background:transparent;
  display:flex;
  align-items: center;
  gap:2vw;
  margin-left:5vw;
  margin-right:5vw;
  justify-content: flex-start;
  flex-flow: wrap row;
}
.card{
  background: linear-gradient(135deg,rgba(6,12,33,1),rgba(6,12,33,1));
  box-sizing: border-box;
  backdrop-filter: 10px;
  border: 5px solid #6f42f5;
  border-radius: 40px;
  width: 44vw;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0,0,0,0.2);
  padding: 20px 20px 20px 20px;
  opacity: 0.7;
}
.card:hover{
  border: 5px solid #4f03fc;
  opacity:1;
}

.card h1{
  justify-content: flex-start;
  font-size: 3em;
  font-weight: 500;
  display: inline-block;
  color: white;
}
.card p{
  color: rgb(148,148,175);
  padding:10px 10px 10px 10px;
  justify-content: center;
}

.section-title{
  text-align: center;
  font-size: 4em;
}

#section-about{
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left:5vw;
  right:5vw;
  gap:40px;
}
.twospaces{
  display: block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.tab{
  display: inline-block;
  margin-left: 1em;
}

.purple{
  color:#6f03fc;
}
.red{
  color:red;
}
.yellow{
  color:yellow;
}
.blue{
  color:#264bde;
}
.green{
  color: green;
}
.code-format{
  border-radius: 70px;
  padding: 20px 20px 20px 20px;
  overflow-wrap:break-word;
  word-break: break-word;
  white-space: normal;
  padding:20px;
  box-sizing: border-box;
  width:90%;
  width: inherit;
  background: linear-gradient(135deg,rgba(6,12,33,0.8),rgba(6,12,33,1));
  backdrop-filter: 10px;
  position:relative;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}
.each-line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
}
.each-line:hover{
  background-color: #212121;
}

@media screen and (max-width:850px) {
    .nav-middle,.nav-socials{
        display: none;
    }
    .nav-hamburger-list{
      display: flex;
    }
    .nav-hamburger{
        display: flex;
        justify-content: end;
        flex-grow: 1;
        margin-right: 3vw;
    }
}



@media screen and (max-width:740px) {
    .card-container{
      gap:7vw;
    }
    .card{
        width:88vw;
    }
}

#section-contactme{
  background: transparent;
  width: 100vw;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap:40px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:auto;
  gap:10px;
  color:#333;
  border-radius: 25px;
}
#name, #email, #msg{
  background: linear-gradient(135deg,rgba(6,12,33,0.9),rgba(6,12,33,1));
  backdrop-filter: 80px;
  border-radius: 10px;
  width:700px;
  color:white;
}
#submit{
  background-color: #6f03fc;
  box-sizing: border-box;
  width: 6em;
  font-size: 1.8em;
  color:white;
  border-radius: 10px;
  margin-top:20px;
  padding: 5px;
}
#submit:hover{
  background-color: #5403f3;
}

@media screen and (max-width:1040px) {
  #name, #email, #msg{
    border-radius: 10px;
    width:300px;
  }
}
  
footer{
  box-sizing: border-box;
  padding:20px;
  background: black;
  top:20px;
  bottom:20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.footer-follow, .footer-built{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap ;
  gap: 20px;
  flex-direction: row;
}
.components{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:20px;
}
.footer-components{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.footer-components img{
  width: 20px;
  height: 20px;
}
.footer-components > a:hover, .github-link >a:hover{
  color: #6f03fc;
}
.footer-h1{
  color:#6f03fc;
  font-size:1.4em;
}

/*
PENDULUM CODE BEGINS
*/

.pendulum{
  position:relative;
  z-index: 40;
  width:300px;
  height:300px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.base{
  position: relative;
  z-index:40;
  width:160px;
  height:20px;
  border-radius:50px;
  background:radial-gradient(farthest-side at 30% 30%, white,#484848);
  bottom:120px;
}

.thread1,.thread2,.thread3{
  position:absolute;
  width:5px;
  height:150px;
  background:radial-gradient(farthest-side at 30% 30%, white,#484848);
  top: 40px;    
}
.thread1{
  left:80px;
  
}
.thread2{
  left:150px;
}

.thread3{
  left:220px;
}

.ball1,.ball2,.ball3{
  position:absolute;
  border-radius:50%;
  width:70px;
  height:70px;
  display:inline-block;
  background:radial-gradient(farthest-side at 30% 30%, white,#484848);
  bottom:50px;
}

.ball1{
  left:50px;
}
.ball2{
  left: 120px;
}
.ball3{
  left:190px;
}
.thread1{
  animation: left_rotate;
  animation-iteration-count:infinite;
  animation-duration:4s;
}

@keyframes left_rotate{
  
  0%{
    left:80px;
    top: 40px;    
    transform:rotateZ(0deg);
  }
  25%{
    left:45px;
    top: 20px;    
    transform:rotateZ(40deg);
  }
  50%{
    left:80px;
    top: 40px;    
    transform:rotateZ(0deg);
  }
  100%{
    left:80px;
    top: 50px;   
    top: 40px;    
    transform:rotateZ(0deg);
  }
}

.thread3{
  animation: right_rotate;
  animation-iteration-count:infinite;
  animation-duration:4s;
  animation-direction:linear;
}
.thread3{
  left:270px;
  top: 30px;
  transform: rotateZ(-40deg);
  
  left:220px;
  top: 50px;
  transform: rotateZ(0deg);
  left:270px;
  top: 30px;
  transform: rotateZ(-40deg);
}
@keyframes right_rotate{
  0%{
    left:220px;
    top: 40px;
    transform: rotateZ(0deg);
  }
  50%{
   left:220px;
    top: 40px;
    transform: rotateZ(0deg);
  }
  75%{
    left:260px;
    top: 20px;
    transform: rotateZ(-40deg);
  }
  100%{
    left:220px;
    top: 40px;
    transform: rotateZ(0deg);
  }
  
}

.ball1{
  animation:left_ball;
  animation-iteration-count:infinite;
  animation-duration:4s;
  left:-40px;
  bottom:100px;
}
@keyframes left_ball{
  0%{
    left:50px;
    bottom:50px;
  }
  25%{
    left:-40px;
  bottom:100px;
  }
  50%{
    left:50px;
    bottom:50px;
  }
  100%{
    left:50px;
    bottom:50px;
  }
}
.ball3{
  animation:right_ball;
  animation-iteration-count:infinite;
  animation-direction:linear;
  animation-duration:4s;
}
@keyframes right_ball{
  0%{
    left:190px;
    bottom:50px;
  }
  50%{
    left:190px;
    bottom:50px;
  }
  75%{
    left: 270px; /* 190 ,50*/
    bottom:100px;
  }
  100%{
    left:190px;
    bottom:50px;
  }
}
/*
PENDULUM CODE ENDS
*/